* {
	margin:0px;
	padding: 0px;
}
body{
	font-family: "Open Sans", sans-serif, garamond, verdana;
	background-color: #131313;
	color: #ccc;
}
#wall{
	margin: auto;
	width: 1024px;
	height: 100%;
	background-color: #232323;
	max-width: 1024px;
}
header {
	height: 122px;
	max-width:1024px;
}

/*topmenubar*/
.topmenubar{width: 1024px; height: 30px; color:#054b5b;}







